@charset "UTF-8";


section.ex > .registro{
    max-width: 100%;
   
    justify-content: center;
    align-items: center;

    margin-top: 20px;
   
}

h1{
  text-align: justify;
 }

 p{
  padding: 10px;
 }

.registro {
  
  
    height: 50px;
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex;  
   
  }
  
  .registro>button>a{
    color: white;
  }
  
  .registro>button {
    width: 300px;
    font-size: 20px;
    border: 2px solid #FF2C00;  
    background-color: #FF2C00;
   
   
  }
  .registro>button:hover{
    background-color: #333;
  }

  .video{
    
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
     }
  
    .video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

 body{
  overflow-x: hidden;
 }
